<div class="rounded-md mt-5 p-5 bg-white shadow-md w-1/3 mx-auto">
    <form (ngSubmit)="addRole()">
        <mat-form-field class="w-full" appearance="fill">
            <mat-label>Role Name</mat-label>
            <input matInput name="name" [(ngModel)]="role.roleName" placeholder="Role Name" required />

            @if(!role.roleName){
                <mat-error>Role Name is required</mat-error>
            }
        </mat-form-field>
        @if(errorMessage){
            <span class="text-red-500">{{errorMessage}}</span>
        }
        <button [disabled]="!role.roleName" type="submit" class="bg-purple-600 disabled:bg-purple-400 text-white px-4 py-2 rounded-md hover:bg-purple-700 mt-3 w-full">
            Add
        </button>
    </form>
</div>